<!DOCTYPE html>
<html>
<head>
    <title>Football</title>
    <style>
        .fancy-text {
            font-size: 64px;
            color: red;
            text-shadow: 2px 2px 4px black;
            font-family: sans-serif;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="fancy-text">
    Welcome to the club
</div>
</body>
</html>
